<ol class="stories">
<% stories.each do |story| %>
	<li>
		<div class="story-wrapper" id="story-<%= story.id %>" data-issueid="<%= story.id %>">
			<div class="story worktype-<%= tracker_name_to_css_class (story.tracker.name) %> <%=story.priority.name.downcase%>" >
				<div class="emblem"></div>
				<%= link_to("##{story.id}: #{story.subject}", {:controller => "issues", :action => "show", :id => story}) %>
				<p>
				<br />Age: <%= distance_of_time_in_words story.start_date, Time.now %><br />
				</p>
				
				<% if story.due_date %>
				Due: <%= story.due_date %><br />
				<% end %>
				<br />
				
				<small>
					<% if story.assigned_to.nil? %>
						???
					<% else %>
						<%= story.assigned_to.name(:firstname) %>
					<% end %>
				/ EST: <%= story.estimated_hours ? story.estimated_hours.to_s + 'H' : '-' %><br />
				</small>
			</div>
			<%= avatar(story.assigned_to, :size => "32") if story.respond_to?(:assigned_to) %>
						
		</div>
	</li>
<% end -%>
</ol>
