<h2>Kanban Board</h2>
<% if @may_configure %>
	<%= link_to "Configure board", {:controller => :kanban, :action => :configure, :project_id => @project} %>
<% end %>

<div id="dialog-container" style="width: 800px"></div>

<style type="text/css">
	#legend { display: inline;}
	#legend li { display: inline-block; width: 100px;}
	#legend-container { padding: 10px 5px;}
</style>

<div id="legend-container">
	<b>Legend:</b>
	
	<ol id="legend" >
		<% (@task_trackers + @urgent_trackers).each do |tracker_config| %>
		<li class="worktype-<%= tracker_name_to_css_class (tracker_config.tracker.name) %>"><%= tracker_config.tracker.name %></li>
		<% end %>
	</ol>
</div>

<table width="100%" cellspacing=0 border=1>
	<tr class="header">
		<% @panes.each do |pane| %>
			<% if pane.subpanes.count > 0 %>
				<td colspan="<%=pane.subpanes.count%>" id="pane-<%= pane.key %>" data-wiplimit="<%=pane.wip_limit%>"><%=pane.title%> (<%=pane.wip_limit%>)</td>
			<% else %>
				<td id="pane-<%= pane.key %>" data-wiplimit="<%=pane.wip_limit%>"><%=pane.title%> (<%=pane.wip_limit%>)</td>
			<% end %>
		<% end %>
	</tr>

	<tr class="header">
		<% @panes.each do |pane| %>
			<% if pane.subpanes.count > 0 %>
				<% pane.subpanes.each do |subpane| %>
					<td><%=subpane.title%></td>
				<% end %>
			<% else %>
				<td>&nbsp;</td>
			<% end %>
		<% end %>
	</tr>
	
	<tr>
		<% @panes.each do |pane| %>
			<% if pane.subpanes.count > 0 %>
				<% pane.subpanes.each do |subpane| %>
					<td valign="top" id="pane-<%= pane.key %>" class="pane <%= subpane.key %> subpane" data-parentpane="<%= pane.key %>" data-statusid="<%= subpane.status.id; %>">
						<%= render :partial => 'stories', :object => subpane.issues(@task_trackers.collect { |t| t.tracker_id }) %>
					</td>
				<% end %>
			<% else %>
				<td valign="top" id="pane-<%= pane.key %>" class="pane <%= pane.key %>" data-parentpane="<%= pane.key %>" data-statusid="<%= pane.status.id; %>">
					<%= render :partial => 'stories', :object => pane.issues(@task_trackers.collect { |t| t.tracker_id }) %>
				</td>
			<% end %>
		<% end %>
	</tr>
	<tr>
		<td colspan="5">
			<h3 style="border: 0">Urgent</h3>
		</td>
	</tr>
	<tr class="urgent">
		<% @panes.each do |pane| %>
			<% if pane.subpanes.count > 0 %>
				<% pane.subpanes.each do |subpane| %>
					<td valign="top" class="pane <%= pane.key %>" data-statusid="<%= subpane.status.id; %>">
						<%= render :partial => 'stories', :object => subpane.issues(@urgent_trackers.collect { |t| t.tracker_id }) %>
					</td>
				<% end %>
			<% else %>
				<td valign="top" class="pane <%= pane.key %>" data-statusid="<%= pane.status.id; %>" height="50">
					<%= render :partial => 'stories', :object => pane.issues(@urgent_trackers.collect { |t| t.tracker_id }) %>
				</td>
			<% end %>
		<% end %>
	</tr>	
	<!-- <tr>
		<td>
			<h3 style="border: 0">Criteria</h3>
		</td>
		<td colspan="2">
			<ul>
				<li>Code complete</li>
				<li>Unit tests</li>
				<li>Integration tests</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Inform stakeholder of test availability</li>
				<li>Test by collegue, test by stakeholder (when applicable)</li>
			</ul>
		</td>
		<td></td>
	</tr> -->
</table>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'stories', :plugin => 'redmine_kanban' %>
	<%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css' %>
	
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js' %>
    <%= javascript_include_tag 'board', :plugin => 'redmine_kanban' %>
<% end %>

<script>
	if(RB==null){
	  var RB = {};
	}

	RB.constants = {
	  project_id: <%= @project.id %>,
	  protect_against_forgery: <%= protect_against_forgery? ? "true" : "false" %>,
	  request_forgery_protection_token: '<%= request_forgery_protection_token %>',
	  form_authenticity_token: '<%= form_authenticity_token %>'
	}
	
</script>

<style type="text/css">
<% 
	@task_trackers.each do |tracker_config| 
%>
	.worktype-<%= tracker_name_to_css_class (tracker_config.tracker.name) %> { 
		background-color: <%= tracker_config.color %>;
	}
<% end %> 

<% 
	@urgent_trackers.each do |tracker_config| 
%>
	.worktype-<%= tracker_name_to_css_class (tracker_config.tracker.name) %> { 
		background-color: <%= tracker_config.color %>;
		color: white;
	}
	.worktype-<%= tracker_name_to_css_class (tracker_config.tracker.name) %> a { 
		color: white;
	}
	
<% end %> 


</style>
